.admin_form{
    width: 30rem;
    padding: 2rem;
    border: 1px solid green;
    border-radius: 0.5rem;
}

.admin_form h1{
    font-size: 2.4rem;
    color: green;
    user-select: none;
}

.admin_form_group{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.admin_form_group label{
    font-size: 1.4rem;
    color: green;
    display: inline-block;
    width: 8rem;
    user-select: none;
}

.admin_form_group input, .admin_form_group select{
    flex-grow: 1;
    padding: 0.2rem 0rem 0.2rem 0.5rem;
    outline: none;
    border: 1px solid green;
    border-radius: 0.2rem;
}

.admin_form_btn{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.admin_form_btn button{
    padding: 0.5rem 1rem;
    margin-right: 1rem;
}

.admin_form_btn button:last-child{
    margin-right: 0;
}